.search-bar {
  width: 45%;
  border: solid gray 1px;
  height: 45px;
  border-radius: 50px;
  background: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.search-bar-icon {
  height: 60%;
}
.search-bar-input {
  width: 100%;
  color: var(--font-color);
  border: none;
  margin-left: 10px;
}
