.custom-text-input {
  border: none;
  border-bottom: 1px solid;
  border-color: #c5c5c5;
  color: var(--font-color);
  background: transparent;
  padding: 5px 0 5px 0;
  transition: 0.3s;
}

.custom-text-input:focus {
  border-color: var(--font-color);
}

.custom-text-input::placeholder {
  color: #c5c5c5;
  font-family: var(--secondary-font);
}
