.custom-button {
  border: none;
  outline: none;
  background: white;
  height: 35px;
  border-radius: 17px;
  text-align: center;
  color: var(--primary-color);
  font-size: 65%;
  font-family: var(--secondary-font);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.custom-button:hover {
  color: white;
  background: var(--primary-color);
}

.custom-button:active {
  box-shadow: none;
}

.custom-button:focus {
  outline: none;
}
