.patient-page-body {
  min-height: calc(100vh - var(--height-navbar));
}
.patient-page-search {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.patient-page-card-container {
  width: 90%;
  margin-left: 8%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.patient-page-text {
  font-family: var(--secondary-font);
  font-size: 110%;
  margin-left: 5%;
}
