.doctor-page-body-container {
  min-height: calc(100vh - var(--height-navbar));
  width: 100%;
  display: flex;
  justify-content: center;
}
.doctor-page-body {
  width: 75%;
}
.doctor-page-profile {
  margin-top: 30px;
}
.doctor-page-contents {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}
.doctor-page-contents-left-container {
  flex: 2;
  padding: 10px;
}
.doctor-page-contents-left {
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
  background: white;
  border-radius: 20px;
  padding: 10px;
}
.doctor-page-contents-right-container {
  padding: 10px;
  flex: 1;
}
.doctor-page-contents-right {
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
  background: white;
  border-radius: 20px;
  padding: 10px 10px 30px 10px;
}
.doctor-page-heading {
  font-size: 115%;
  font-family: var(--primary-font);
  margin: 15px;
}
