.img-style {
    border-radius: 50%;
    width: 100x;
    height: 100px;
}

.detail-font-1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.detail-font-2 {
    color: var(--secondary-color);
}