.patient-detail-heading{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 120%;
    padding-left: 10px;
}

.patient-card{
    box-shadow:  0 1px 6px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px; 
    background-color: #fff;
}

.patient-card-content{
    padding: 15px 15px;
}

td{
    padding-left: 30px;
}

label{
    font-weight: bold;
}

.doctor-text{
   height: 100px;
   width: 400px;
    border-radius: 10px;
}