nav{
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}
.navbar-name{
    color: var(--primary-color);
}
.navbar-head{
    display:flex;
}
.navbar-sign{
    list-style:none;
    margin-right: 20px;
    color: var(--primary-color);
}
