:root {
  --primary-color: #0037ae;
  --secondary-color: #35c1ba;
  --primary-background: #eeeeee;
  --secondary-background: #bfcce7;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Nunito", sans-serif;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--primary-background);
  color: #3f3f3f;
}
button:active {
  box-shadow: none;
}
button:focus {
  outline: none;
}
