:root {
  --primary-color: #0037ae;
  --secondary-color: #35c1ba;
  --primary-background: #eeeeee;
  --secondary-background: #bfcce7;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Nunito", sans-serif;
  --font-color: #3f3f3f;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--primary-background);
  color: var(--font-color);
}
button:active {
  box-shadow: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}

/* Removing Arrow/Spinner from input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
