.sign-in-body {
  height: calc(100vh - var(--height-navbar));
  display: flex;
}
.sign-in-body-left {
  width: 50%;
  height: 100%;
  text-align: right;
}
.sign-in-body-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SignInView.css*/
.sign-in-heading {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 200%;
  margin-bottom: 40px;
}
.sign-in-button {
  margin-top: 60px;
}
.sign-in-link {
  margin-top: 10px;
}
